*{
    font-family: Arial, Helvetica, sans-serif;
}

.left{
    text-align: left;   
}

.right{
    text-align: right;
}

.centered{
    text-align: center;
}

.justified{
    text-align: justify;
}

.upsideDown{
    direction: rtl;
    unicode-bidi:bidi-override;
}

.overLineDecoration{
    text-decoration-line: overline;
}

.lineThroughDecoration{
    text-decoration-line: line-through;
}

.underLineDecoration{
    text-decoration-line: underline;
}

.combinedDecoration{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 10px;
}

.bold{
    font-weight: 700;
}

.light{
    font-weight: 100;
}

.link{
    text-decoration: none;
    color: black;    
}





